__pycache__
restats

# C++ build artifacts
cpp/build/
cpp/pybind11/

# Compiled Python extensions
*.pyd
*.so

# Python virtual environment
.venv/

# Python package build artifacts
*.egg-info/
dist/
build/
